<app-header ngSkipHydration></app-header>

<main class="block pt-24 md:pt-0 overflow-x-hidden">
  <router-outlet />
</main>

<app-footer />
<!--footer class="p-8 md:p-10 text-center text-white/20 text-[10px] uppercase tracking-widest italic border-t border-white/5 bg-black">
  <div class="max-w-screen-xl mx-auto">
    <div class="flex justify-center mb-6">
      <img src="/assets/logo.jpg" 
           class="h-12 md:h-16 w-auto invert brightness-200 mix-blend-screen transition-all" 
           alt="WhyNot Logo Footer">
    </div>

    <h3 class="text-[8vw] md:text-2xl font-black italic uppercase tracking-tighter mb-4 text-white/40">
      You can do more.
    </h3>

    <p class="text-white/40 text-[8px] md:text-[10px] uppercase tracking-[0.2em] md:tracking-[0.4em] leading-loose px-4">
      L'évolution n'est pas une option. <br class="hidden md:block"> C'est une nécessité.
    </p>
    
    <div class="mt-8 pt-8 border-t border-white/40 text-[8px]">
      © 2026 WhyNot - Built for Performance
    </div>
  </div>
</footer-->